html {
    height: 100%;
}




/* #ff8b00, #444444 ,#feffdb, #ffc60b */
body {
    background-image: linear-gradient(to bottom, #feffdb,  #feffdb,#ffc60b, #feffdb,#feffdb);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;

}



h1 {
    letter-spacing: 10px;
    text-align: center;
    color: #444444;
    margin-top: 60px;
}



.game {
    width: 600px;
    height: 800px;
    margin: 50px auto;
    color: #444444;
}



.smiley {
    padding: 15px 15px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 130px;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgba(246, 238, 223, 0.2);
    border: 2px solid rgba(255, 144, 0, 0.1);
}



.level {
    margin: auto;
    width: 350px;
    height: 70px;
    background-color: rgba(255, 144, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}



h2 {
    text-decoration: underline;
}



radio {
    user-select: none;
}



.timer {
    text-align: center;
    background-color: rgba(255, 144, 0, 0.1);
    float: right;
    font-size: 20px;
    margin: 10px;
    width: 120px;
    height: 70px;
    border-radius: 20%;
}



.minesAmount {
    text-align: center;
    background-color: rgba(255, 144, 0, 0.1);
    float: left;
    font-size: 20px;
    margin: 10px;
    width: 120px;
    height: 70px;
    border-radius: 20%;
}



table {
    border-collapse: collapse;
    border: 1px solid#444444;
    margin: auto;
    width: 400px;
    height: 400px;
}



td {
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
    width: 8%;
    height: 8%;
    font-size: 120%;
}



.unMarked {
    background-image: url(img/black-square.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}



.marked {
    background-image: none;
    background-color: #ff8b00;
    resize: none;
}



.Hints{
    margin-left:  300px;
    float: left;
    margin-top: 200px;
}

.hint {
    margin-left:  10px;
    display: block;
    font-size: 50px; 
    background: none;
    border: none; 
    color: #ff0b0b; 
    cursor: pointer; 
    transition-duration: 1s;
    
}



.hint:hover {
    color: #9700fb; /* White text */
}



.win{
    display: none;
    position: fixed ;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: 1;
    background-color: rgb(255, 240, 188,0.9);
    transform: translate(-50%, -50%);
}



.lose{
        display: none;
        position: fixed ;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        z-index: 1;
        background-color: rgb(255, 240, 188,0.9);
        transform: translate(-50%, -50%);
}


.restart{
    font-size: 40px;
    width: 300px;
    margin-left:  520px;
    margin-top: 100px;
    background-color: rgb(255, 240, 188,1);
    color: #907575;
}

.win h1{
    text-align: center;
    font-size: 60px;
}

.lose h1{
    text-align: center;
    font-size: 60px;
}
